
## edk2 files cloned from https://github.com/tianocore/edk2
## need edk2 repo for building OVMF image
edk2/
edk2/ArmPkg 
edk2/ArmPlatformPkg 
edk2/ArmVirtPkg 
edk2/BaseTools 
edk2/Build 
edk2/CONTRIBUTING.md 
edk2/CryptoPkg 
edk2/DynamicTablesPkg 
edk2/EmbeddedPkg 
edk2/EmulatorPkg
edk2/FatPkg 
edk2/FmpDevicePkg 
edk2/IntelFsp2Pkg 
edk2/IntelFsp2WrapperPkg 
edk2/License-History.txt 
edk2/License.txt 
edk2/Maintainers.txt 
edk2/MdeModulePkg 
edk2/MdePkg 
edk2/NetworkPkg
edk2/OvmfPkg 
edk2/PcAtChipsetPkg 
edk2/PrmPkg 
edk2/ReadMe.rst 
edk2/RedfishPkg 
edk2/SecurityPkg 
edk2/ShellPkg 
edk2/SignedCapsulePkg 
edk2/SourceLevelDebugPkg 
edk2/StandaloneMmPkg 
edk2/UefiCpuPkg 
edk2/UefiPayloadPkg 
edk2/UnitTestFrameworkPkg 
edk2/debug.log 
edk2/edksetup.bat 
edk2/edksetup.sh 
edk2/pip-requirements.txt
edk2/.azurepipelines 
edk2/.devcontainer 
edk2/.git* 
edk2/.mailmap 
edk2/.mergify 
edk2/.pytool

##Debug files
debug.log
ovmfdebugfd_path.txt
